Wifi/wifi_b/flows.json
[
    {
        "id": "a888435fe59f6d78",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3305faba9899999",
        "type": "debug",
        "z": "a888435fe59f6d78",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "f4f69b89d6104af4",
        "type": "mqtt in",
        "z": "a888435fe59f6d78",
        "name": "",
        "topic": "4ID3_Groupseven/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d213e705fa86c004",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "c3305faba9899999",
                "406f7bfe912c6438"
            ]
        ]
    },
    {
        "id": "406f7bfe912c6438",
        "type": "ui_chart",
        "z": "a888435fe59f6d78",
        "name": "",
        "group": "e340f654800edc40",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "bcf5df2862049f56",
        "type": "mqtt in",
        "z": "a888435fe59f6d78",
        "name": "",
        "topic": "4ID3_Groupseven/pressure",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d213e705fa86c004",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "8cd2e550cf57214f",
                "e3a5391084356152"
            ]
        ]
    },
    {
        "id": "5f825b6d22949c7c",
        "type": "mqtt in",
        "z": "a888435fe59f6d78",
        "name": "",
        "topic": "4ID3_Groupseven/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d213e705fa86c004",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "91e8112e32a730de",
                "7ba1525207f3d91d"
            ]
        ]
    },
    {
        "id": "a6636a1f97222050",
        "type": "mqtt in",
        "z": "a888435fe59f6d78",
        "name": "",
        "topic": "4ID3_Groupseven/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d213e705fa86c004",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 520,
        "wires": [
            [
                "cfa236e159bd8462",
                "f7a40c9e8a015055"
            ]
        ]
    },
    {
        "id": "91e8112e32a730de",
        "type": "debug",
        "z": "a888435fe59f6d78",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "7ba1525207f3d91d",
        "type": "ui_chart",
        "z": "a888435fe59f6d78",
        "name": "",
        "group": "e340f654800edc40",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "8cd2e550cf57214f",
        "type": "debug",
        "z": "a888435fe59f6d78",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "e3a5391084356152",
        "type": "ui_chart",
        "z": "a888435fe59f6d78",
        "name": "",
        "group": "e340f654800edc40",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "cfa236e159bd8462",
        "type": "debug",
        "z": "a888435fe59f6d78",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "f7a40c9e8a015055",
        "type": "ui_chart",
        "z": "a888435fe59f6d78",
        "name": "",
        "group": "e340f654800edc40",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "LIght",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "d213e705fa86c004",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e340f654800edc40",
        "type": "ui_group",
        "name": "Default",
        "tab": "ab3c295da67c1b82",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab3c295da67c1b82",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "523c4abc73fc1515",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]